.main-addlaundry{
    display: flex;
    padding: 0;
}

.form-addlaundry{
    margin: 0;
    box-shadow: none;
    float:inline-start;
    text-align: left;
    width: max-content;
    flex-grow: 1;
}