.nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
    box-shadow: 0px 1px 2px 0px #1018280F;
    box-shadow: 0px 1px 3px 0px #1018281A;


    &__title{
        font-size: 1.25rem;
        font-weight: 900;
    }
    &__logo{
        margin-right: 12px;
        width: 2.25rem;
        z-index: 2;
        cursor: pointer;
    }
}