// doc: Navbar Style
.nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    background-color: $nav-background-color;
    box-shadow: 0px 0px 0px 4px #F2F4F7;
    box-shadow: 0px 1px 2px 0px #1018280F;
    box-shadow: 0px 1px 3px 0px #1018281A;


    &__brand-name{
        font-size: 1.25rem;
        font-weight: 900;
    }
    &__logo-cn{
        display: flex;
        flex: 1;
        align-items: center;
    }
    &__logo{
        margin-right: 12px;
        width: 2.25rem;
        z-index: 2;
    }
    &__icon{
        width: 1rem;
        height: 1rem;
    }
    &__links{
        display: flex;
        align-items: center;
    }
    &__link{
        display: flex;
        align-items: center;
        color: $color-on-background;
        text-decoration: none;
        margin: 0 8px;
    }
    &__input-search{
        height: 32px;
        border-radius: 5px;
        border: none;
        padding-left: 30px;
        background-color: $search-input-color;
        background-image: url("/public/icn/search.svg");
        background-repeat: no-repeat;
        background-position: 7px center;
        background-size: 16px;
        background-attachment: scroll;
    }
    &__login-btn{
        padding: 8px 16px;
        background-color: $color-primary;
        color: $color-on-primary;
        border-radius: 5px;
        height: 32px;
    }
}

// doc: Form Style
.form{
    padding: 1.25rem 1.68rem;
    text-align: center;
    box-shadow: 0px 4px 6px -2px #10182808;
    border-radius: 10.6px;
    box-shadow: 0px 12px 16px -4px #10182814;
    margin-top: 42px;

    &__input-pass,&__input-email{
        width: 17.4rem;
        height: 36.6px;
        padding-left: 12px;
        border: 1px solid #101828;
        box-shadow: 0px 2.55px 5.1px 0px #1018280D;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    &__submit-btn{
        all: unset;
        width: 17.4rem;
        height: 36.6px;
        border: 1px solid #101828;
        background-color: $color-primary;
        color: $color-on-primary;
        display: inline-block;
        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        box-shadow: 0px 1px 2px 0px #1018280D;

    }
    &__privacy-policy{
        width: 17.4rem;
        font-size: 8px;
        margin-bottom: 10px;
    }
    &__link{
        width: 17.4rem;
        font-size: 8px;
    }
}

// doc: Footer Style
.footer{
    background-color: $color-primary;
    padding: 26px 40px;
    
    &__content{
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        margin: 0 auto;
        font-size: 0.875rem;
        border-bottom: 1px solid $color-on-primary;
    }

    &__about-brand{
        width: 250px;
        color: $color-on-primary;
        padding: 20px;
    }
    &__logo{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    &__brand-name{
        color: $color-on-primary;
    }

    &__quick-links{
        width: fit-content;
        padding: 20px;


    }
    &__title{
        font-weight: bold;
        color: $color-on-primary;
    }
    &__links{

    }
    &__link{
        padding: 8px 0;
        display: block;
        width: fit-content;
        color: $color-on-primary;
        text-decoration: none;
    }

    &__contact-us{
        width: 250px;
        padding: 20px;
        color: $color-on-primary;
    }
    &__address{
        padding: 8px 0;
    }


    &__copyright{
        font-size: 0.875rem;
        width: fit-content;
    }
    &__copyright-text{
        color: $color-on-primary;
        padding: 8px 0;
    }
    
    @media only screen and (min-width : $lg-device){
        &__copyright{
            margin : 0 auto;
        }
    }
}

//doc: Slider Style
.slider{
    margin-top: 1.5rem;
    width: 100%;
    justify-content: center;
    position: relative;
    height: 28vw;
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;


    
  &__slide{
    position: absolute;
    transition: all linear 1000ms;
    width: 100%;
  }
  &__link{
  }
  &__image{
    width: 100%;
    height: 28vw;
    display: block;
    border-radius: 5px;
    object-position: center;
  }
  &__nav{
    z-index: 1;
    position: absolute;
  }
  &__nav-item{
    display: inline-block;
    width: 2rem;
    border-radius: 5px;
    height: 0.25rem;
    background-color: $slider-nav-color;
    cursor: pointer;
  }
  &__nav-active{
    background-color: $color-primary;
    width: 2.5rem;
    transition: all linear 500ms;
  }
  @media only screen and (min-width : $me-device){
    // height: 13.5rem;
  }
}

//doc: Box Style
.box{
    margin: 1.5rem 0;
    &__title{
        font-size: 1.25rem;
        font-weight: 900;
        margin-bottom: 10px;
    }
}

//doc: Minibox Style
.minibox{
    border: 2px solid #EAEBF0;
    border-radius: 5px;
    display: flex;
    padding: 10px;
    overflow-x: scroll;

}
//doc: Card Style
.card{
    width: fit-content;
    margin-right: 10px;
    &__laundry-img{
        width: 160px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &__laundry-name-cn{
        display: flex;
        align-items: center;
    }
    &__laundry-name{
        font-size: 10px;
        flex: 1;
    }
    &__icn-star{
        width: 10px;
    }

    &__laundry-address-cn{
        display: flex;
        align-items: center;
    }
    &__icn-address{
        width: 10px;
        margin-right: 3px;
    }
    &__laundry-address{
        display: flex;
        align-items: center;
        font-size: 10px;
        color: #666C85;
    }

    &__laundry-type-cn{
        display: flex;
        padding: 5px 0;
    }
    &__laundry-type{
        padding: 2px 4px;
        width: fit-content;
        text-decoration: none;
        display: flex;
        cursor: auto;
        align-items: center;
        border-radius: 5px;
        color: $color-on-primary;
        background-color: $color-primary;
        color: $color-on-background;
    }
    &__type-icon{
        margin-right: 5px;
        width: 10px;
    }
    &__laundry-type-text{
        color: $color-on-primary;
        font-size: 10px;
    }
    &__laundry-type-shoe{
        background-color: #FDB022;
    }
    &__laundry-type-cloth{
        margin-right: 5px;
    }
    &__start-from{
        margin-top: 20px;
        font-size: 10px;
        color: #666C85;
    }
    &__price{
        font-size: 14px;
        font-weight: 600;
    }
    
}


