.minibox-favorite {
    border: 2px solid #eaebf0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 10px;
    padding: 10px;
}
//doc: Card Style
.card-favorite {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;

    &__laundry-img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    &__laundry-name-cn {
        display: flex;
        align-items: center;
    }
    &__laundry-name {
        font-size: 10px;
        flex: 1;
    }
    &__laundry-name-me {
        flex: 1;
        font-size: 13px;
        font-weight: 900;
    }
    &__icn-star {
        width: 10px;
    }
    &__laundry-rating-cn {
        display: flex;
        align-items: center;
    }
    &__laundry-rating {
        font-size: 10px;
        display: flex;
    }
    &__laundry-rating-me {
        font-size: 12px;
        display: flex;
    }
    &__laundry-address-cn {
        display: flex;
        align-items: center;
    }
    &__icn-address {
        width: 10px;
        margin-right: 3px;
    }
    &__laundry-address {
        display: flex;
        align-items: center;
        font-size: 10px;
        margin-bottom: 5px;
        color: #666c85;
    }
    &__laundry-address-me {
        font-size: 12px;
    }
    &__laundry-type-cn {
        display: flex;
    }
    &__laundry-type {
        padding: 2px 4px;
        width: fit-content;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: 5px;
        color: $color-on-primary;
        background-color: $color-primary;
        color: $color-on-background;
    }
    &__type-icon {
        margin-right: 5px;
        width: 10px;
    }
    &__laundry-type-text {
        color: $color-on-primary;
        font-size: 10px;
    }
    &__laundry-type-shoe {
        background-color: #fdb022;
    }
    &__laundry-type-cloth {
        margin-right: 5px;
    }
    &__start-from {
        margin-top: 20px;
        font-size: 10px;
        color: #666c85;
    }
    &__price {
        font-size: 14px;
        font-weight: 600;
    }
    &__link {
        text-decoration: none;
        color: $color-on-background;
        display: block;
    }
}

.icon {
    width: 1rem;
    cursor: pointer;
    margin-right: 5px;
}
